# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\я╦ювобть\openTCS-4.0.0-src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
